.header {
    color: $white;
    background-color: $blue-anchor;
    font-size: 4rem;
    padding: 15px 0;
    
    .header-wrp {
        display: flex;
        justify-content: space-between;
        
        .greetings {
            font-size: 2rem;
            font-weight: 300;
            font-style: italic;
            margin-top: auto;
        }
    }
}